body {
  background: #eef2fa;
}
.deaths {
  /* --bg-color: #fa6d6d; */
  --bg-color: #fd9090;
  --bg-color-light: #fcdede;
  --text-color-hover: #fff;
  --box-shadow-color: rgb(248, 91, 91);
}

.recovered {
  --bg-color: #68faa5;
  --bg-color-light: #e2fced;
  --text-color-hover: #fff;
  --box-shadow-color: rgb(0, 255, 106);
}

.cases {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgb(152, 91, 250);
}

.human-resourcesb {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(220, 233, 255, 0.8);
}

.Vaccine {
  --bg-color: #9deefc;
  --bg-color-light: #ffffff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgb(0, 174, 255);
  /* --box-shadow-color: #0099ff; */
}

.fardb {
  /* width: 220px;
    height: 321px; */
  /* width: 270px;*/
  height: 150px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  /* text-decoration: none !important; */
  border: 0px;
  cursor: pointer;
}

.fardb:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.fardb:hover .overlayb {
  transform: scale(9) translateZ(0);
}

.fardb:hover .circleb {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.fardb:hover .circleb:after {
  background: var(--bg-color-light);
}

.fardb:hover p {
  color: var(--text-color-hover);
}

.fardb:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.fardb p {
  /* font-size: 17px; */
  color: #4c5656;
  /* margin-top: 4px; */
  z-index: 1000;
  margin-bottom: 0.25rem;
  transition: color 0.3s ease-out;
}

.circleb {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  /*justify-content: center;
  align-items: center; */
  top: 23px;
  /* left: 4px; */
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circleb:after {
  content: "";
  width: 58px;
  height: 58px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: opacity 0.3s ease-out;
}

.circleb img {
  z-index: 10000;
  transform: translateZ(0);
}

.overlayb {
  width: 58px;
  position: absolute;
  height: 58px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 45px;
  left: 22px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.br {
  margin-right: 0%;
  margin-left: 0%;
}

.bc {
  padding-left: 0%;
  padding-right: 0%;
}

.op5501 {
  font-size: 1.2rem;
  color: #4c5656;
  font-weight: 500;
}
.op5502deaths {
  /* color: #ff0000 !important; */
  color: #fc2626 !important;
  font-size: 1.3rem;
  font-weight: 800;
}
.op5502recovered {
  color: #00d157 !important;
  /* color: #02ba4e !important; */
  font-size: 1.3rem;
  font-weight: 800;
}
.op5502cases {
  color: #9459f4 !important;
  /* color: #8743f5 !important; */
  font-size: 1.3rem;
  font-weight: 800;
}
.op5502Vaccine {
  color: #0099ff !important;
  /* color: #8743f5 !important; */
  font-size: 1.3rem;
  font-weight: 800;
}
.op5503 {
  font-size: 1.2rem;
  color: #4c5656;
  font-weight: 500;
}
.set_pad_5 {
  padding-right: 0rem !important;
  padding-left: 0.4rem !important;
}
.set_pad_7 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

@media (max-width: 1340px) and (min-width: 992px) {
  .fardb {
    height: 150px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .fardb p {
    /* font-size: 17px; */
    color: #4c5656;
    /* margin-top: 4px; */
    z-index: 1000;
    margin-bottom: 0rem;
    transition: color 0.3s ease-out;
  }
  .circleb {
    width: 50px;
    height: 50px;
    top: -5px;
    left: 64px;
    border: 1px solid var(--bg-color);
  }

  .circleb:after {
    width: 44px;
    height: 44px;
    top: 2px;
    left: 2px;
  }

  .overlayb {
    width: 44px;
    height: 44px;
    top: 14px;
    left: 83px;
    z-index: 0;
  }

  .op5501 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
  .op5502deaths {
    /* color: #ff0000 !important; */
    color: #fc2626 !important;
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502recovered {
    color: #00d157 !important;
    /* color: #02ba4e !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502cases {
    color: #9459f4 !important;
    /* color: #8743f5 !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502Vaccine {
    color: #0099ff !important;
    /* color: #8743f5 !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5503 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .fardb {
    height: 150px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .fardb p {
    /* font-size: 17px; */
    color: #4c5656;
    /* margin-top: 4px; */
    z-index: 1000;
    margin-bottom: 0rem;
    transition: color 0.3s ease-out;
  }
  .circleb {
    width: 50px;
    height: 50px;
    top: -5px;
    left: 45px;
    border: 1px solid var(--bg-color);
  }

  .circleb:after {
    width: 44px;
    height: 44px;
    top: 2px;
    left: 2px;
  }

  .overlayb {
    width: 44px;
    height: 44px;
    top: 14px;
    left: 64px;
    z-index: 0;
  }

  .op5501 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
  .op5502deaths {
    /* color: #ff0000 !important; */
    color: #fc2626 !important;
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502recovered {
    color: #00d157 !important;
    /* color: #02ba4e !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502cases {
    color: #9459f4 !important;
    /* color: #8743f5 !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502Vaccine {
    color: #0099ff !important;
    /* color: #8743f5 !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5503 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .fardb {
    height: 150px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .fardb p {
    /* font-size: 17px; */
    color: #4c5656;
    /* margin-top: 4px; */
    z-index: 1000;
    margin-bottom: 0rem;
    transition: color 0.3s ease-out;
  }
  .circleb {
    width: 50px;
    height: 50px;
    top: -5px;
    left: 45px;
    border: 1px solid var(--bg-color);
  }

  .circleb:after {
    width: 44px;
    height: 44px;
    top: 2px;
    left: 2px;
  }

  .overlayb {
    width: 44px;
    height: 44px;
    top: 14px;
    left: 64px;
    z-index: 0;
  }

  .op5501 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
  .op5502deaths {
    /* color: #ff0000 !important; */
    color: #fc2626 !important;
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502recovered {
    color: #00d157 !important;
    /* color: #02ba4e !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502cases {
    color: #9459f4 !important;
    /* color: #8743f5 !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5502Vaccine {
    color: #0099ff !important;
    /* color: #8743f5 !important; */
    font-size: 1.1rem;
    font-weight: 800;
  }
  .op5503 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
}

/* @media (max-width: 1226px) and (min-width: 992px) {
  .fardb {
    height: 145px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .circleb img {
    z-index: 10000;
    transform: translateZ(0);
  }

  .fardb p {
    margin-bottom: 0.5rem;
  }
  .op5501 {
    font-size: 1.2rem;
    color: #4c5656;
  }
  .op5502 {
    color: #fc2626 !important;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .op5503 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
}

@media (max-width: 785px) and (min-width: 701px) {
  .fardb {
    height: 140px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .fardb p {
    margin-bottom: 0.5rem;
  }
  .op5501 {
    font-size: 1.2rem;
    color: #4c5656;
  }
  .op5502 {
    color: #fc2626 !important;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .op5503 {
    font-size: 1rem;
    color: #4c5656;
    font-weight: 500;
  }
}

@media (max-width: 701px) and (min-width: 551px) {
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .fardb {
    height: 115px;
  }
  .fardb:hover .overlayb {
    transform: scale(10) translateZ(0);
  }

  .circleb {
    width: 50px;
    height: 50px;
    top: 15px;
  }

  .circleb:after {
    width: 38px;
    height: 38px;
    top: 4px;
    left: 4px;
  }

  .overlayb {
    width: 38px;
    height: 38px;
    top: 37px;
    left: 22px;
  }
  .op5501 {
    font-size: 0.9rem;
    color: #4c5656;
  }
  .op5502 {
    color: #fc2626 !important;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .op5503 {
    font-size: 0.9rem;
    color: #4c5656;
  }
}

@media (max-width: 550px) and (min-width: 360px) {
  .fardb {
    height: 135px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .circleb {
    width: 40px;
    height: 40px;
    top: -5px;
    left: 48px;
    border: 1px solid var(--bg-color);
  }

  .circleb:after {
    width: 34px;
    height: 34px;
    top: 2px;
    left: 2px;
  }

  .overlayb {
    width: 34px;
    height: 34px;
    top: 14px;
    left: 68px;
    z-index: 0;
  }

  .op5501 {
    font-size: 0.8rem;
    color: #4c5656;
  }
  .op5502 {
    color: #fc2626 !important;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .op5503 {
    font-size: 0.8rem;
    color: #4c5656;
  }
}

@media (max-width: 359px) and (min-width: 300px) {
  .fardb {
    height: 130px;
  }
  .set_pad_5 {
    padding-right: 0rem !important;
  }
  .set_pad_7 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .circleb {
    width: 40px;
    height: 40px;
    top: -5px;
    left: 48px;
    border: 1px solid var(--bg-color);
  }

  .circleb:after {
    width: 34px;
    height: 34px;
    top: 2px;
    left: 2px;
  }

  .overlayb {
    width: 34px;
    height: 34px;
    top: 14px;
    left: 68px;
  }

  .op5501 {
    font-size: 0.58rem;
    color: #4c5656;
  }
  .op5502 {
    color: #fc2626 !important;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .op5503 {
    font-size: 0.6rem;
    color: #4c5656;
  }
} */
